@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}

p, h2, h1 {
    color: #FFF;
}

div.container-nav {
    width: 100%;
    height: 80px;
    padding: 15px 100px;
    background-color: #202020;
}

div.container-nav div.nav {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
}

div.container-nav div.nav div.nav-right ul, div.container-nav div.nav div.nav-right ul li a, div.container-nav div.nav div.nav-left a {
    text-decoration: none;
}

div.container-nav div.nav div.nav-right ul li {
    display: inline;
}

div.container-nav div.nav div.nav-right ul li a, div.container-nav div.nav div.nav-left a {
    color: #FFF;
}

div.container-nav div.nav div.nav-left a {
    font-weight: 700;
    font-size: 28px;
    align-items: center;
}

div.container-nav div.nav div.nav-right {
    display: flex;
    justify-content: right;
    align-items: center;
    justify-content: flex-end;
}

div.container-nav div.nav div.nav-left {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

div.container-nav div.nav div.nav-right ul li a {
    padding: 15px;
    font-weight: 500;
    font-size: 22px;
}

div.container-nav div.nav div.nav-right ul li+li {
    margin-left: 15px;
}

div.container-nav div.nav div.nav-right ul li a:hover {
    color: #FCDC8F;
}

div.container {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

div.container section.apresentacao {
    width: 100%;
    min-height: 280px;
    background-image: url("../img/bg.jpg");
    display: grid;
    grid-template-columns: 40% 60%;
}

div.container section.apresentacao div.section-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.container section.apresentacao div.section-text {
    height: auto;
    display: flex;
    justify-content: center;
}

div.container section.apresentacao div.section-text div.apresentacao {
    width: 100%;
    height: auto;
    margin: 56px 300px 15px 15px;
}

div.container section.apresentacao div.section-text div.apresentacao h1 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

div.container section.apresentacao div.section-text div.apresentacao p {
    font-weight: 500;
    font-size: 28px;
    mix-blend-mode: normal;
}

p span {
    color: #FCDC8F;
}

div.container section.apresentacao div.section-text div.apresentacao p:nth-child(2) {
    margin-left: 60px;
}

div.container section.apresentacao div.section-text div.apresentacao p:nth-child(3) {
    text-align: right;
    margin-right: 60px;
}

div.container section.apresentacao div.section-img img {
    width: 207px;
    height: 207px;
    border-radius: 100px;
    margin-right: 15px;
}

div.container section.sobre {
    display: flex;
    width: 100%;
    min-height: 350px;
    background-color: #202020;
}

div.container section.sobre div.section-sobre {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 50px 190px;
}

div.container section.sobre div.section-sobre p {
    text-align: justify-all;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin-top: 30px;
}

div.container section.projetos {
    display: flex;
    width: 100%;
    min-height: 730px;
    background-color: #181818;
}

div.container section.projetos div.section-projetos {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 50px 175px;
}

div.container section.projetos div.grid-projetos {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

div.container section.projetos div.grid-projetos div {
    height: 230px;
    flex-grow: 1;
    flex-basis: 320px;
    background-color: #FCDC8F;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

div.container section.projetos div.grid-projetos div:hover {
    transform: scale(1.1);
}

div.container section.timeline {
    display: flex;
    width: 100%;
    min-height: 420px;
    background-color: #202020;
}

div.container section.timeline div.section-timeline {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 50px 150px;
}

div.container section.timeline div.section-timeline div.timeline-img {
    width: auto;
    margin-top: 40px;
    text-align: center;
}

div.container section.conhecimentos {
    display: flex;
    width: 100%;
    min-height: 730px;
    background-color: #181818;
}

div.container section.conhecimentos div.section-conhecimentos {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 50px 175px;
}

div.container section.conhecimentos div.grid-conhecimentos {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

div.container section.conhecimentos div.grid-conhecimentos div {
    height: 230px;
    flex-grow: 1;
    flex-basis: 320px;
    background-color: #FCDC8F;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

div.container section.conhecimentos div.grid-conhecimentos div:hover {
    transform: scale(1.05);
}

div.container footer {
    display: flex;
    width: 100%;
    min-height: 150px;
    background-color: #202020;
    align-items: center;
}

div.container footer div.footer {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 44px 190px;
}

div.container footer div.footer p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

div.container footer div.footer a {
    text-decoration: none;
    color: #FCDC8F;
}

div.container footer div.icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.container footer div.icons a {
    margin: 10px;
}

div.container footer div.icons a img{
    width: 20px;
    height: 20px;
}